name: Deploy Schema Changes

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install schemachange
        run: |
          python -m pip install --upgrade pip
          pip install schemachange

      - name: Run Schema Changes
        env:
          SNOWFLAKE_PASSWORD: ${{ secrets.SF_PASSWORD }}
        run: |
          schemachange deploy \
            -a ${{ secrets.SF_ACCOUNT }} \
            -u ${{ secrets.SF_USERNAME }} \
            -r ${{ secrets.SF_ROLE }} \
            -w ${{ secrets.SF_WAREHOUSE }} \
            -d ${{ secrets.SF_DATABASE }} \
            -s DEV \
            -c CHANGE_HISTORY \
            -f migrations \
            --schemachange-create-change-history-table
