name: Deploy Schema Changes

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install schemachange
        run: |
          python -m pip install --upgrade pip
          pip install schemachange

      - name: Run Schema Changes
        run: |
          schemachange deploy \
            --account ${{ secrets.SF_ACCOUNT }} \
            --user ${{ secrets.SF_USERNAME }} \
            --password ${{ secrets.SF_PASSWORD }} \
            --role ${{ secrets.SF_ROLE }} \
            --warehouse ${{ secrets.SF_WAREHOUSE }} \
            --database ${{ secrets.SF_DATABASE }} \
            --schema DEV \
            --change-history-table CHANGE_HISTORY \
            --root-folder migrations
