name: Deploy to Snowflake

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install SnowSQL via pip
        run: |
          python -m pip install --upgrade pip
          pip install snowflake-cli-labs

      - name: Run SQL Script
        env:
          SF_ACCOUNT: ${{ secrets.SF_ACCOUNT }}
          SF_USERNAME: ${{ secrets.SF_USERNAME }}
          SF_PASSWORD: ${{ secrets.SF_PASSWORD }}
        run: |
          snow sql \
            --account $SF_ACCOUNT \
            --user $SF_USERNAME \
            --password $SF_PASSWORD \
            --role ${{ secrets.SF_ROLE }} \
            --warehouse ${{ secrets.SF_WAREHOUSE }} \
            --database ${{ secrets.SF_DATABASE }} \
            --schema PUBLIC \
            --file sql/script.sql
