name: Deploy to Snowflake

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install SnowSQL
        run: |
          wget https://sfc-repo.snowflakecomputing.com/snowsql/bootstrap/1.2/linux_x86_64/snowsql-1.2.31-linux_x86_64.bash
          bash snowsql-1.2.31-linux_x86_64.bash -b
          echo "$HOME/.snowsql/bin" >> $GITHUB_PATH

      - name: Run SQL Script
        env:
          SNOWSQL_ACCOUNT: ${{ secrets.SF_ACCOUNT }}
          SNOWSQL_USER: ${{ secrets.SF_USERNAME }}
          SNOWSQL_PWD: ${{ secrets.SF_PASSWORD }}
        run: |
          snowsql -a $SNOWSQL_ACCOUNT \
                   -u $SNOWSQL_USER \
                   -r ${{ secrets.SF_ROLE }} \
                   -w ${{ secrets.SF_WAREHOUSE }} \
                   -d ${{ secrets.SF_DATABASE }} \
                   -s PUBLIC \
                   -f sql/script.sql
